<h1> Carts listing page </h1>
<% Cart.all.each do |a| %>
   <% SelectedDish.all.each do |b| %>
     <p><strong>dish:</strong><%= b.dish.name %></p>
     <p><strong>price:</strong><%= b.dish.price %></p>
<%= link_to 'order',new_order_path %>
<% end %>
<% Cart.all.each do |a| %>
    <p><strong>Total price:</strong><%=a.totalcartprice %></p>

<% end %>

<p><%= button_to 'Empty cart', a,
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
<% end %></p>

<p><%= link_to 'back',dishes_path %></p>
