<% if @dish.errors.any? %>
<ul>
  <% @dish.errors.full_messages.each do |m| %>
  <%= m %>
  <% end %>
</ul>
<% end %>

<%= form_with(model: @dish,local: true) do |f| %>
  <p>
    <%= f.label :Name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :Price %><br/>
    <%= f.number_field :cost %>
  </p>

  <p>
    <%= f.label :Description %><br/>
    <%= f.text_field :description %>
  </p>


  <p><%= f.collection_select(:menu_id, Menu.all, :id, :name, { :prompt => 'Select a Menu', :selected => @dish.menu_id }, { class: 'form-control' }) %></p>
  <p>
    <%= f.submit %>
  </p>

<% end %>
